<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
<!--    <form method="post">-->
<!--        <input type="text" name="username" placeholder="Введите username"/>-->
<!--        <input type="text" name="password" placeholder="Введите password"/>-->
<!--        <input type="number" name="age" placeholder="Введите age"/>-->
<!--        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
<!--        <button type="submit">Добавить</button>-->
<!--    </form>-->

</div>
<div>Список товаров</div>
<!--<form method="post" action="filter">-->
<!--    <input type="number" name="age" placeholder="age">-->
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
<!--    <button type="submit">Найти</button>-->
<!--</form>-->
{{#products}}
    <div>
        <span>{{productName}}</span>
        <span>{{description}}</span>
        <span>{{image}}</span>
        <span>{{price}}</span>
        <span>{{quantity}}</span>
    </div>
{{/products}}
<div>Корзина</div>
{{#productsInBasket}}
    <div>
        <span>{{productName}}</span>
        <span>{{description}}</span>
        <span>{{image}}</span>
        <span>{{price}}</span>
        <span>{{quantity}}</span>
    </div>
{{/productsInBasket}}
</body>
</html>